html,body{
    background: url('Jessy-el--murr.png');
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background: blue; */
}
header>div{
    width: 33%;
}
main{
    width: 100%;
    height: 87%;
    /* background: black; */
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    /* background: brown; */
}
footer>div{
    width: 50%;
}
.logo{
    width: 10%;
    padding-top: 20px;
    opacity: 100%;
}
.menue{
    float:right;
    width: 4%;
    height: 14px;
    opacity: 100%;
    fill: 100%;
}
.videos{
    text-align: center;
    color: #ffffff;
    font: italic 12px "Times BoldItalic", Times, Georgia, serif;
    font-weight: bold;
}
.share{
    margin-left: 15px;
    float: left;
    width: 2%;
}
.scroll{
    margin:0 8px 3px 0;
    float: right;
    color: #ffffff;
    font: 10px sans-serif;
    font-weight: bold;
}
.down{
    margin-right: 7px;
    margin-top: 3px;
    margin-left: 7px;
    float: right;
    width: 1.5%;
    height: 14px;

}
.vidSlide{
    position: relative;
    display: flex;
    flex-direction: row;
}
.slide{
    margin: 5% 0 0 28%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
.tex{
    margin: -37%  0 0 60%;
    display: flex;
    flex-direction: column;
} 
.tex1{
    width: 200pt;
    color: #ffffff;
    font: italic 27pt "Times BoldItalic", Times, Georgia, serif,bold;
    text-align: center;
}
.tex2{
    width: 300pt;
    color: #ffffff;
    font: italic 15pt "Times BoldItalic", Times, Georgia, serif,bold;
}

.arrowTop{
    margin: 4% 2% 0 47%;
    
}
.arrowDown{
    margin: 35% 0 0 47%;
}
/*top - - left*/