body {
    background-image: url("../img/bg.jpg");
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    margin: 20px 0 0 10px;
    background-size: 70%;
    position: absolute;
}

.title {
    text-align: center;
    position: relative;
    color: aliceblue;
    margin-top: 10px;
}

.fa-bars {
    float: right;
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

footer>svg {
    margin-left: 20;
    color: #fff;
    margin-top: 50px;
    cursor: pointer;    
}


.down {
    float: right;
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
    font-weight: 200;
    margin-right: 20px;
}

.down svg {
    color: #4b1f6c;
}

.vertical-slider {
    margin-top: 150px;
    color: #fff;
    /* height: 500px; */
}

.btn-vertical-slider {
    margin-left: 240px;
    cursor: pointer;
}

a {
    cursor: pointer;
}

.carousel.vertical .carousel-inner .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 100%;
}

.carousel.vertical .prev {
    top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .active.left {
    top: -100%;
}

.carousel.vertical .active.right {
    top: 100%;
}

.carousel.vertical .item {
    left: 0;
}


.slider-img{
    margin-left: 0px;
    width: 570px;
    height: 400px;
}

.slider-txt{
    /* padding-left: 500px; */
    vertical-align: middle;
    margin-top:40px;
    float: right;
    text-align: left;
    font-size: 12px;
}

.text{
    color: #fff;

}

.underYearHr{
    margin: 0px;
    width: 50px;
    float: left;
    height: 3px;

}

.slider-txt h6 {
    font-size: 18px;
    font-style: italic;
}





span {
    padding: 0 1rem;
    transition: opacity 0.2s;
  }

  
  .sibling-fade:hover span:not(:hover) {
    opacity: 0.2;
  }


  .photos{
      margin-top:150px;
  }
.photo-imag{
    position: relative;
    width: 570px;
    height: 400px;
}

.textOnImage{
    position: absolute;
    bottom: 60;
    left: 80;
    font-size: 30px;
    color: #fff;
    font-style: italic;
    width: 200%;}

.speaker-body{
    margin-top: 200px;
    color: #fff;
}

.speaker-img{
    width: 550px;
    height: 360px;
    float: left;
}

.speaker-text h1 {
    font-size: 50px;
    font-style: italic;
}
.speaker-text h3 {
    font-weight: bolder;

}

.speaker-text hr {
    width: 10%;
    float: left;
}

.line-btn{
    margin-top: 30px;
    background: transparent;
    border-width: 1px;
    border-color: #fff;
    padding: 10px 30px 10px 30px;
    font-style: italic;
}

.line-btn:hover{
    background-color: #fff;
    border-width: 1px;
    border-color: #fff;
    color: black;
    padding: 10px 30px 10px 30px;
    -webkit-transition: 1s ease-in-out top;
    -moz-transition: 1s ease-in-out top;
    -ms-transition: 1s ease-in-out top;
    -o-transition: 1s ease-in-out top;
    transition: 1s ease-in-out top;
}